
<nav class="navbar navbar-dark bg-dark navbar-expand-lg shift">
  <div class="navbar-collapse collapse justify-content-center">
    <ul class="navbar-nav">
      <li class="nav-item active"><a class="nav-link" [routerLink]="['/']">ГЛАВНАЯ</a></li>
      <li  class="nav-item" *ngFor="let category of categories"><a class="nav-link" [routerLink]="['/category', category.categoryNameEn]">{{category.categoryName}}</a></li>
    </ul>
  </div>
  <i class="fa fa-user-o" (click)="openModal()"></i>
</nav>

