.manage-panel {
    margin-top: 50px;
}
img.resize {
    max-width:60%;
    max-height:60%;
}
.date {
    font-size: 12px;
}
a {
    cursor: pointer;
    color: black;
    text-decoration: none;
}
a:hover {
    color: darkslategrey;
}
