
  <div class="row">
    <div class="col-lg-8">
      <div class="manage-panel" *ngFor="let article of articles">
         <div>
            <h1><a [routerLink]="['/articles/', article._id]">{{article.articleName}}</a></h1>
            <h5>{{article.categoryName}}</h5>
             <h6 class="date">{{article.created | date: 'dd-MM-yyyy hh:mm a'}}</h6>
            <div *ngIf="article.mainImageLink">
              <img id="img" class="resize" src="{{article.mainImageLink}}" onerror="this.style.display='none'">
            </div>
         </div>
         <div>
              <h5>{{article.content}}</h5>
         </div>
         <hr>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="manage-panel">
        <a [routerLink]="['/articles/new']">Add new article</a>
      </div>
    </div>
  </div>

<pagination></pagination>


