

<form [formGroup]="formComments" (ngSubmit)="onSubmit(formComments.value)">
<app-ngx-editor [config]="editorConfig" [spellcheck]="true" formControlName="comment"></app-ngx-editor>
    <button type="submit" [disabled]="!formComments.valid">Submit</button>
</form>


<!--<form #f="ngForm" (ngSubmit)="onSubmit(f.value)">-->
    <!--<app-ngx-editor [spellcheck]="true" [(ngModel)]="htmlContent"></app-ngx-editor>-->
    <!--<button type="submit">Submit</button>-->
<!--</form>-->

