
<div *ngIf="articlesTotal > 5">
    <nav class="articles-pagination">
        <ul class="pagination">
            <li class="page-item" [ngClass]="{disabled:currentPage === 1}"><a class="page-link" (click)="setPage(1)">First</a></li>
            <li class="page-item" [ngClass]="{disabled:currentPage === 1}"><a class="page-link" (click)="setPage(currentPage - 1)">Previous</a></li>
            <li class="page-item" *ngFor="let page of pages" [ngClass]="{active:currentPage === page}"><a class="page-link" (click)="setPage(page)">{{page}}</a></li>
            <li class="page-item" [ngClass]="{disabled:currentPage === pagesTotal}"><a class="page-link" (click)="setPage(currentPage + 1)">Next</a></li>
            <li class="page-item" [ngClass]="{disabled:currentPage === pagesTotal}"><a class="page-link" (click)="setPage(pagesTotal)">Last</a></li>
        </ul>
    </nav>
</div>


