<h1>New Article</h1>

<form [formGroup]="articleForm" (ngSubmit)="onSubmit(articleForm.value)" class="form-horizontal" method="POST" enctype="multipart/form-data">
  <div class="row">
    <div class="col-md-4">

        <div class="form-group">
          <label for="categoryName">Category:</label>
          <select formControlName="categoryName" class="form-control" id="categoryName">

                <option *ngFor="let category of categories" [value] = "category.categoryName">{{category.categoryName}}</option>

          </select>
        </div>
        <div
                class="error"
                *ngIf="articleForm.get('categoryName').hasError('required') && articleForm.get('categoryName').touched">
            Choose category, please.
        </div>

    </div>
  </div>
  <div class="row">
    <div class="col-md-8">

        <div class="form-group">
          <label for="articleName">Name of the article:</label>
          <input formControlName="articleName" class="form-control" id="articleName">
        </div>
        <div class="error"
                *ngIf="articleForm.get('articleName').hasError('required') && articleForm.get('articleName').touched">
            Name of the article is required.
        </div>

        <div class="form-group">
          <label for="content">An article</label>
          <textarea formControlName="content" class="form-control" id="content" rows="10"></textarea>
        </div>
        <div class="error"
                *ngIf="articleForm.get('content').hasError('required') && articleForm.get('content').touched">
            Content of the article is required.
        </div>


        <div class="row" >
           <label class="btn btn-primary chooseImage" for="my-file-selector">
              <input id="my-file-selector"  type="file" multiple (change)="upload($event)" style="display:none;" [disabled]="readedImages.length>9"  accept="image/*">
              Choose Image
           </label>
        </div>



          <div id="previewImage">
                      <!--<i class="fa fa-times"></i>-->
                      <!--<fa-icon [icon]="faTimes"></fa-icon>-->
          </div>


        <!--<div class="row">-->
           <!--<div *ngFor="let readedImage of readedImages; let i =index" class="picPreview">-->
              <!--<img id="image" [src]="readedImage" (click)="chooseMainImage(i)" />-->
              <!--<i class="fa fa-times" (click)="deleteImage(i)"></i>-->
           <!--</div>-->
        <!--</div>-->

        <div class="row">
            <button type="submit" class="btn btn-default" [disabled]="!articleForm.valid">Add article</button>
        </div>

    </div>
    <div class="col-md-4"><p>Main picture</p>
        <div id="mainPicture"></div>
    </div>
  </div>

</form>




<!--[disabled]="!f.vald"-->
