.picPreview {
  margin-bottom: 10px;
}
#image {
  z-index: -1;
  height: 100px;
  width: 100px;
}

.fa-times {
  top: -40px;
  left: -15px;
  z-index: 1;
  cursor:pointer;
  position: relative;
}
/*#mainPicture {*/
  /*border-style: ridge;*/
  /*height: 300px;*/
  /*width: 250px;*/
/*}*/

#main-image {
  height: 300px;
  width: 250px;
}
.content{
  display:inline-block;
  position:relative;
  margin: 5px;
}
.content a{
  top:-5px;
  right:2px;
  color:black;
  cursor:pointer;
  position: absolute;

}
.error{
  color: red;
}
/*.image-main {*/
  /*display:inline-block;*/
  /*position:relative;*/
  /*margin: 5px;*/
/*}*/


/*.image-main a{*/
  /*top:-5px;*/
  /*right:2px;*/
  /*color:black;*/
  /*cursor:pointer;*/
  /*position: absolute;*/
/*}*/
