<div class="row">
    <div class="col-lg-9">
            <div>
                <h1>{{article?.articleName}}</h1>
                <h5>{{article?.categoryName}}</h5>
                <h6 class="date">{{article?.created | date: 'dd-MM-yyyy hh:mm a'}}</h6>
                <div  *ngIf="article?.mainImageLink">
                    <img  class="resizeMainImage" src="{{article.mainImageLink}}" onerror="this.style.display='none'">
                    <!--<img id="main-image" src="https://imagesforblog.s3.eu-west-3.amazonaws.com/5bcde4dfca94694c67a1cc15/mainImage/1540220127446_b6df62ffae90db94cdfec9baf2008088">-->
                </div>
            </div>
            <div>
                <h5>{{article?.content}}</h5>
            </div>
        <div *ngIf="article?.imageLinks">

                <div class="images" *ngFor="let imageLink of article.imageLinks" >
                    <img class="border resizeImage" src="{{imageLink}}" onerror="this.style.display='none'">
                </div>

         </div>
    </div>
</div>
<hr>
<div>
    <h1>Comments</h1>
    <!--<displayComments></displayComments>-->
    <div>
        <h5><a>Post new comment</a></h5>
        <formForComments></formForComments>
    </div>
</div>
