<div class="modal-header">
    <h2>Login</h2>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" formControlName="username" class="form-control" id="username"/>
            <div class="error"
                 *ngIf="loginForm.get('username').hasError('required') && loginForm.get('username').touched">
                Name is required.
            </div>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" formControlName="password" class="form-control" id="password" />
            <div class="error"
                 *ngIf="loginForm.get('password').hasError('required') && loginForm.get('password').touched">
                Password is required.
            </div>
        </div>
        <div class="form-group">
            <button class="btn btn-primary" [disabled]="!loginForm.valid">Login</button>
        </div>
        <div *ngIf="error" class="alert alert-danger">{{error}}</div>
        <div class="form-group">
            <button class="btn btn-primary">Google</button>
        </div>
        <div class="form-group">
            <button class="btn btn-primary">Facebook</button>
        </div>
        <div class="form-group">
            <button class="btn btn-primary">Registration</button>
        </div>
    </form>

</div>


